<a href="https://colab.research.google.com/github/skhabiri/DS-Unit-2-Applied-Modeling/blob/master/module1-define-ml-problems/skhabiri_LS_DS_231_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Unit 2, Sprint 3, Module 1*

---


# Define ML problems

You will use your portfolio project dataset for all assignments this sprint.

## Assignment

Complete these tasks for your project, and document your decisions.

- [ ] Choose your target. Which column in your tabular dataset will you predict?
- [ ] Is your problem regression or classification?
- [ ] How is your target distributed?
    - Classification: How many classes? Are the classes imbalanced?
    - Regression: Is the target right-skewed? If so, you may want to log transform the target.
- [ ] Choose your evaluation metric(s).
    - Classification: Is your majority class frequency >= 50% and < 70% ? If so, you can just use accuracy if you want. Outside that range, accuracy could be misleading. What evaluation metric will you choose, in addition to or instead of accuracy?
    - Regression: Will you use mean absolute error, root mean squared error, R^2, or other regression metrics?
- [ ] Choose which observations you will use to train, validate, and test your model.
    - Are some observations outliers? Will you exclude them?
    - Will you do a random split or a time-based split?
- [ ] Begin to clean and explore your data.
- [ ] Begin to choose which features, if any, to exclude. Would some features "leak" future information?

If you haven't found a dataset yet, do that today. [Review requirements for your portfolio project](https://lambdaschool.github.io/ds/unit2) and choose your dataset.

Some students worry, ***what if my model isn't “good”?*** Then, [produce a detailed tribute to your wrongness. That is science!](https://twitter.com/nathanwpyle/status/1176860147223867393)

In [27]:
import pandas as pd
import numpy as np

data = pd.read_csv('https://github.com/skhabiri/Forest_cover_type_data/raw/master/train.csv')
print(data.shape)
data.head()

(15120, 56)

   Id  Elevation  Aspect  ...  Soil_Type39  Soil_Type40  Cover_Type
0   1       2596      51  ...            0            0           5
1   2       2590      56  ...            0            0           5
2   3       2804     139  ...            0            0           2
3   4       2785     155  ...            0            0           2
4   5       2595      45  ...            0            0           5

[5 rows x 56 columns]

In [28]:
data.describe()

                Id     Elevation  ...   Soil_Type40    Cover_Type
count  15120.00000  15120.000000  ...  15120.000000  15120.000000
mean    7560.50000   2749.322553  ...      0.030357      4.000000
std     4364.91237    417.678187  ...      0.171574      2.000066
min        1.00000   1863.000000  ...      0.000000      1.000000
25%     3780.75000   2376.000000  ...      0.000000      2.000000
50%     7560.50000   2752.000000  ...      0.000000      4.000000
75%    11340.25000   3104.000000  ...      0.000000      6.000000
max    15120.00000   3849.000000  ...      1.000000      7.000000

[8 rows x 56 columns]

In [29]:
data.nunique().sort_values(ascending=False)

Id                                    15120
Horizontal_Distance_To_Roadways        3250
Horizontal_Distance_To_Fire_Points     2710
Elevation                              1665
Vertical_Distance_To_Hydrology          423
Horizontal_Distance_To_Hydrology        400
Aspect                                  361
Hillshade_3pm                           247
Hillshade_9am                           176
Hillshade_Noon                          141
Slope                                    52
Cover_Type                                7
Soil_Type29                               2
Soil_Type28                               2
Soil_Type5                                2
Soil_Type4                                2
Soil_Type3                                2
Soil_Type2                                2
Soil_Type1                                2
Wilderness_Area4                          2
Wilderness_Area3                          2
Wilderness_Area2                          2
Wilderness_Area1                          2
Soil_Type30                               2
Soil_Type31                               2
Soil_Type32                               2
Soil_Type33                               2
Soil_Type34                               2
Soil_Type35                               2
Soil_Type36                               2
Soil_Type37                               2
Soil_Type38                               2
Soil_Type39                               2
Soil_Type6                                2
Soil_Type13                               2
Soil_Type8                                2
Soil_Type19                               2
Soil_Type27                               2
Soil_Type26                               2
Soil_Type25                               2
Soil_Type24                               2
Soil_Type23                               2
Soil_Type22                               2
Soil_Type21                               2
Soil_Type20                               2
Soil_Type18                               2
Soil_Type9                                2
Soil_Type17                               2
Soil_Type16                               2
Soil_Type14                               2
Soil_Type40                               2
Soil_Type12                               2
Soil_Type11                               2
Soil_Type10                               2
Soil_Type15                               1
Soil_Type7                                1
dtype: int64

In [144]:
pd.Series({c: data[c].unique() for c in data})[-40:]
# [data[col].unique() for col in data]

Soil_Type2                    [0, 1]
Soil_Type3                    [0, 1]
Soil_Type4                    [0, 1]
Soil_Type5                    [0, 1]
Soil_Type6                    [0, 1]
Soil_Type7                       [0]
Soil_Type8                    [0, 1]
Soil_Type9                    [0, 1]
Soil_Type10                   [0, 1]
Soil_Type11                   [0, 1]
Soil_Type12                   [0, 1]
Soil_Type13                   [0, 1]
Soil_Type14                   [0, 1]
Soil_Type15                      [0]
Soil_Type16                   [0, 1]
Soil_Type17                   [0, 1]
Soil_Type18                   [0, 1]
Soil_Type19                   [0, 1]
Soil_Type20                   [0, 1]
Soil_Type21                   [0, 1]
Soil_Type22                   [0, 1]
Soil_Type23                   [0, 1]
Soil_Type24                   [0, 1]
Soil_Type25                   [0, 1]
Soil_Type26                   [0, 1]
Soil_Type27                   [0, 1]
Soil_Type28                   [0, 1]
Soil_Type29                   [1, 0]
Soil_Type30                   [0, 1]
Soil_Type31                   [0, 1]
Soil_Type32                   [0, 1]
Soil_Type33                   [0, 1]
Soil_Type34                   [0, 1]
Soil_Type35                   [0, 1]
Soil_Type36                   [0, 1]
Soil_Type37                   [0, 1]
Soil_Type38                   [0, 1]
Soil_Type39                   [0, 1]
Soil_Type40                   [0, 1]
Cover_Type     [5, 2, 1, 7, 3, 6, 4]
dtype: object

Our target label is "Cover_Type"
We will drop imb% imbalance low cardinal features. We also drop "id" column.

In [170]:
def wrangle(df, imb=0.95):
  print(f'Original data shape: {data.shape}')

  df=data.copy()

  # drop the binary features with imb% imbalance
#   imb = 0.95
  mask = df.nunique().sort_values(ascending=False) < 6
  lowcard_col = df.nunique().sort_values(ascending=False)[mask].index
  mask2 = [((df[col].value_counts().max()/df[col].value_counts().sum()) > imb) for col in lowcard_col]
  imb_col = lowcard_col[mask2]
  print(f'Imbalance columns to drop: {imb_col}')

  drop_col = list(imb_col) + ["Id"]
  print(f' Number of columns to drop: {len(drop_col)}')

  df = df.drop(labels=drop_col, axis=1)

  # Separate class label and data
  y = df["Cover_Type"]
  X = df.drop("Cover_Type", axis=1)
  print(f'df: {df.shape}, X: {X.shape}, y: {y.shape}')

  return df, X, y

In [171]:
(df, X, y) = wrangle(data, imb=0.95)

Original data shape: (15120, 56)
Imbalance columns to drop: Index(['Soil_Type28', 'Soil_Type5', 'Soil_Type2', 'Soil_Type1',
       'Wilderness_Area2', 'Soil_Type30', 'Soil_Type31', 'Soil_Type32',
       'Soil_Type33', 'Soil_Type34', 'Soil_Type35', 'Soil_Type36',
       'Soil_Type37', 'Soil_Type38', 'Soil_Type39', 'Soil_Type6',
       'Soil_Type13', 'Soil_Type8', 'Soil_Type19', 'Soil_Type27',
       'Soil_Type26', 'Soil_Type25', 'Soil_Type24', 'Soil_Type22',
       'Soil_Type21', 'Soil_Type20', 'Soil_Type18', 'Soil_Type9',
       'Soil_Type17', 'Soil_Type16', 'Soil_Type14', 'Soil_Type40',
       'Soil_Type12', 'Soil_Type11', 'Soil_Type15', 'Soil_Type7'],
      dtype='object')
 Number of columns to drop: 37
df: (15120, 19), X: (15120, 18), y: (15120,)

In [172]:
from sklearn.feature_selection import tra

    Elevation  Aspect  Slope  ...  Soil_Type23  Soil_Type29  Cover_Type
0        2596      51      3  ...            0            1           5
1        2590      56      2  ...            0            1           5
2        2804     139      9  ...            0            0           2
3        2785     155     18  ...            0            0           2
4        2595      45      2  ...            0            1           5
5        2579     132      6  ...            0            1           2
6        2606      45      7  ...            0            1           5
7        2605      49      4  ...            0            1           5
8        2617      45      9  ...            0            1           5
9        2612      59     10  ...            0            1           5
10       2612     201      4  ...            0            0           5
11       2886     151     11  ...            0            0           2
12       2742     134     22  ...            0            0           2
13       2609     214      7  ...            0            0           5
14       2503     157      4  ...            0            0           5
15       2495      51      7  ...            0            0           5
16       2610     259      1  ...            0            1           5
17       2517      72      7  ...            0            0           5
18       2504       0      4  ...            0            0           5
19       2503      38      5  ...            0            0           5

[20 rows x 19 columns]